
<% if @user.errors.any? %>
  <%= @user.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
<% end %>

<%= form_with model: @user do |f| %>
<div class= "container">
  <div class= "row">
    <div class= "mx-auto">
      <h2>User info</h2>
      <div class= "form-group">
        <label for= "user_name">Name</label><br>
        <%= f.text_field :name, autofocus: true, id:"inputName" %>
      </div>

      <div class= "form-group">
        <label for= "user_image">Image</label>
          <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
      </div>

      <div class= "form-group">
          <label for= "user_introduction">Introduction</label><br>
            <%= f.text_field :introduction, autofocus: true, id:"inputintroduction" %>
      </div>
      <div class= "form-group">
          <%= f.submit "Update User" %>
      </div>
    </div>
  </div>
</div>
      <% end %>