<%= flash[:notice] %>
<div class= "container">
  <div class= "row">
    <div class= "col-md-3">
<h2>User info</h2>
<!-- ユーザーの詳細 -->
<div>
  <%= image_tag @user.get_profile_image(200,200) %>
</div>

<table>
  <thead>
    <th>name</th>
    <th>introduction</th>
  </thead>

  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.introduction %></td>
    </tr>

  </tbody>
</table>

<%= link_to edit_user_path(@user.id), class: 'btn btn-outline-secondary form-control' do %>
<i class="fas fa-user-cog"></i>
<% end %>

<h1>New book</h1>
<%= form_with model: Book.new do |f| %>

    <h4>Title</h4>
      <%= f.text_field :title %>

    <h4>Opinion</h4>
      <%= f.text_area :body %>

    <%= f.submit 'Create Book' %>
    <% end %>
</div>
 <div class= "col-md-8 offset-md-1">
      <h2>Books</h2>

<table class= "table">
  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= link_to image_tag(book.user.get_profile_image(100,100)), user_path(book.user_id) %></td>
      <td><%= link_to book.title, book_path(book.id) %></td>
      <td><%= book.body %></td>
      <td>
        <% if @user == current_user %>
        <%= link_to "Edit", edit_book_path(book.id) %>
        <% end %>
        </td>
      <td>
        <% if @user == current_user %>
          <%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "本当に消しますか？" %>
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>

  </table>

</div>
</div>